{% extends 'base.html' %}


{% block content %}
  <main>
    <div>
      <a href="{% url 'todo_list_edit' todolist.pk %}">Edit</a>
      <a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a>
    </div>
    <h1>{{ todolist.name }}</h1>
    
    <ul>
      {% for item in todolist %}
        <li>{{ todoitem.task }}</li>
      {% endfor %}
    </ul>
  </main>
{% endblock content %}
