{% extends 'base.html' %}

{% block content %}
  <main>
    {% for list in todos %}
      <div>
        <h2>
          <a href="{% url 'todos_detail' todos.pk %}">{{ todolist.name }}</a>
        </h2>
      </div>
    {% endfor %}

  </main>
{% endblock content %}