{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'todo_list_create' %}">Make a new todo list</a>
        </li>
        <li>
          <a href="{% url 'todo_item_create' %}">Add something to do</a>
        </li>
        {% if user.is_staff %}
          <li>
            <a href="{% url 'admin:index' %}">Admin</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}
</body>

</html>
